{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}

    {% if registered %}
        <div class="alert alert-success text-center" role="alert">
            You are registered
        </div>
    {% else %}
        <div class="alert alert-danger text-center" role="alert">
            Registration page
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Сохранить">
        </form>

    {% endif %}

{% endblock %}
